

<script id="bootstrap-current-user" type="text/javascript">
  window.iphoneSplashImg = "<%= image_path('iphone_splash_img.png') %>"

  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
  <% end %>
</script>

<main id="root"></main>
