

#iavContainer {
  box-shadow: 2px 2px 2px 2px #ddd;
  width: 100%;
  background-color: white;
}

.dwollaContainer {
  width: 100%;
}

.dwolla-iav-button {
  background-color: $red;
  color: white;
}
