

#feed {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.feed-header {
  display: flex;
  width: 100%;
  border: 1px solid black;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.feed-header button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: transparent;
  color: $gray;
  border: 2px solid $gray;
  margin-left: 10px;
  margin-right: 10px;
}

.feed-header button:hover {
  border-color: #489af7;
  color: #489af7;
  background-color: #E9F4FA;
}

.feed-header button:active {
  background-color: #E9F4FA;
}

.transaction-list {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
}

.transaction-detail {
  border-bottom: 1px solid $light-gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  // height: 100px;
  padding-left: 15%;
  background-color: #fff;
  // background-color: red;
  margin-bottom: 10px;
  margin-top: 10px;
}

.transaction-header {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.transaction-user {
  font-size: 18px;
  font-weight: bold;
}

.transaction-amount {
  right: 100%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.comments {
  // border-top: 1px solid #eee;
  padding: 5px;
  margin-top: 5px;
}

.add-comment {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-top: 1px solid #eee;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.add-comment input {
  border: 1px solid black;
  width: 100%;
}

.comment {
  display: flex;
  // border: 1px solid black;
  padding: 5px;
}

.comment-user {
  margin-right: 5px;
}
