

#feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed-header {
  display: flex;
  width: 100%;
  // border: 1px solid black;
  height: 60px;
  justify-content: center;
  align-items: center;
  // background-color: #eee;
  // padding-top: 10px;
  // padding-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.feed-button-container {
  // border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;

}

.feed-button-container:first-child {
  border-top: 2px solid #262626;
}

.feed-header button {
  height: 40px;
  // height: 100%;
  width: 100px;
  border-radius: 3px;
  background-color: transparent;
  color: #262626;
  border: 2px solid #262626;
  margin-left: 10px;
  margin-right: 10px;
}

.feed-header button:hover {
  // border-color: #489af7;
  // color: #489af7;
  background-color: #E9F4FA;
  // background-color: $insta-blue;
}

.feed-header button:active {
  background-color: #E9F4FA;
}

.transaction-list {
  width: 100%;
  // border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.transaction-detail {
  line-height: 1.8;
  border: 1px solid $light-gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.transaction-main {
  display: flex;
  // border: 1px solid black;
  padding-bottom: 10px;
}

.transaction-pic {
  width: 100px;
  height: 100px;

  border: 1px solid black;
  border-radius: 100%;
}

.transaction-header {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 10px;
  justify-content: space-around;
}

.transaction-title {
  display: flex;
  // border: 1px solid black;
  justify-content: space-between;
  width: 100%;
}

.transaction-user {
  font-size: 18px;
  font-weight: bold;
}

.transaction-amount {
  right: 100%;
}

.green {
  color: green;
}

.red {
  color: #ED4956;
}

.comments {
  // border-top: 1px solid #eee;
  padding: 5px;
  margin-top: 5px;
  // max-height: 150px;
  // overflow: auto;
  padding-bottom: 10px;
}

.add-comment {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-top: 1px solid #eee;
  // border: 1px solid black;
  display: flex;
  align-items: center;
}

.add-comment form {
  width: 100%;
  height: 100%;
}

.add-comment input {
  // border: 1px solid black;
  width: 100%;
  height: 30px;
}

.comment {
  display: flex;
  line-height: 1.8;
  // border: 1px solid black;
  // padding: 5px;
}

.load-more-comments {
  color: #A6A6A6;
}

.load-more-comments:hover {
  cursor: pointer;
}

.comment-user {
  margin-right: 5px;
}

.likes {
  display: flex;
}

.like-button {
  color: #489af7;
  // border: 1px solid black;
  padding-right: 7px;
}

.liked {
  color: #ED4956;
}

.like-button:hover {
  cursor: pointer;
}
