
.user-form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.8;
}

.form-submit > button {
  width: 200px;
  background-color: $blue;
  color: #fff;
  height: 40px;
  font-size: 15px;
  margin: 10px;
}

.content-container {
  display: flex;
  border: 1px solid red;
  width: 100%;
  justify-content: center;
}

#settings-form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  background-color: white;
}

.profile-pic-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  // border: 1px solid black;
  flex-direction: column;
  align-items: center;

}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid black;
  margin-bottom: 5px;
}

.change-profile-pic {
  font-size: 14px;
}

.change-profile-pic:hover {
  cursor: pointer;
  transform: scale(1.05);
  display: flex;
  justify-content: space-around;
}

.change-profile-pic-container {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

.save-profile-pic:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.revert-profile-pic {
  color: $red;
}

.revert-profile-pic:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.settings-form-header {
  width: 95%;
  display: flex;
  height: 120px;
  align-items: center;
}

.settings-form-header h2 {
  padding: 10px;
}

.settings-form-item {
  padding: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.settings-form-label {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.settings-form-input {
  border: 0.5px solid $gray;
  border-radius: 3px;
  margin: 10px;
  margin-top: 5px;
  width: 50%;
  padding-left: 10px;
  color: #262626;
}

.private-info {
  padding-left: 10px;
}

.settings-form-input:focus {
  color: #262626;
}

#settings-button {
  background-color: $insta-blue;
  border: none;
  color: #fff;
}
