
.friend-button {
  height: 30px;
}

.friend-button button {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: transparent;
  color: $gray;
  border: 2px solid $gray;
  margin-left: 10px;
  margin-right: 10px;
}

.friend-button button:hover {
  border-color: #489af7;
  color: #489af7;
  background-color: #E9F4FA;
}
