
.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  align-items: center;
  height: 80px;
  background-color: #fff;
}

.header nav {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header nav .nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  padding-left: 50px;
  font-style: italic;
  font-size: 20px;
  width: 35%;
}
