
.main {
  height: 100%;


}

.home {
  // width: 95%;
  padding-left: 10px;
  // padding-right: 10px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 100%;
  // border: 1px solid #eee;

}

#side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8;
  font-size: 18px;
  height: 50%;
  // border: 1px solid black;
  width: 33%;
}

.home-content {
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
