
.main {
  height: 100%;
}

.home {
  display: flex;
  margin-top: 30px;
  height: 100%;
  border: 1px solid black;
}

#side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8;
  font-size: 18px;
  height: 50%;
  border: 1px solid black;
  width: 30%;
}

.home-content {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  border: 1px solid red;
}


.friends {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friend-tabs {
  width: 100%;
}

.friends-children {
  width: 100%;
  height: 500px;
  // border: 1px solid black;
  // border-top: none;
  display: flex;
  padding: 20px;
}

.friend-count {
  background-color: #489af7;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 100%;
  text-align: center;
  margin-left: 7px;
}

.link-tabs {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  // padding: 20px;
  width: 100%;

}

.link-tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  border-left: none;
  width: 150px;
  height: 40px;

}

.link-tab-item:first-child {
  // border-left: 1px solid black;
}


.active {
  background-color: white;
  margin-bottom: -1px;
  border: 1px solid black;
  border-top: 3px solid #489af7;
  // border-bottom: 1px solid #fff;
}
