


.Overlay {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Modal {
  padding: 10px;
  width: 500px;
  height: 330px;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-left: -250px;
  margin-top: -150px;
  border: 1px solid #ddd;
  opacity: 1;
  background-color: white;
}

.modal-form-header {
  display: flex;
  border-bottom: 1px solid #262626;
}

.modal-title {
  width: 95%;
}

.modal-close:hover {
  background-color: transparent;
}

.open-modal {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #262626;
}

.open-modal:hover {
  background-color: transparent;
  transform: scale(1.1)
}
