
.session-form form {
  display: flex;
  background-color: #F7F7F7;
  background-color: #eee;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 40%;
  margin-bottom: 20px;
}

.session-form .form-item {
  width: 90%;
  display:flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}

.session-form .form-item:first-child {
  margin-top: 30px;
}

.input-text {
  margin-left: 30px;
}

.input-label {
  color: #6d6d6d;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.session-form-input {
  outline: none;
  -webkit-appearance: none;
  -moz-outline: none;
  width: 95%;
  height: 30px;
  font-size: 22px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border: 1px solid gray;
  padding: 7px;
  transition:border-color .25s ease, box-shadow .25s ease;
}

.session-form-input {
  color: #6d6d6d;
}

.session-form .form-header {
  // border: 1px solid red;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header p {
  width: 66.6%;
  text-align: center;
  color: #7F7F7F;
}

.session-form  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  padding-bottom: 50px;
}

.form-item:last-child {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.form-item:last-child div {
  margin-left: 40px;
  width: 40%;
}

.button-submit {
  margin-right: 10px;
  width: 40%;
  height: 40px;
  background-color: #3D95CE;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 4px;
}

.form-errors {
  color: $red;
  margin-top: 10px;
  margin-left: 30px;
}
