

#side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8;
  font-size: 18px;
  height: 50%;
  border: 1px solid black;
  width: 30%;
}
