

.spinner {
  width: 100px;
  height: 100px;
  border: 1px solid #262626;
  border-radius: 100%;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
