
.form-fields {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#transaction-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 5px;
}

.transaction-recipient {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.transaction-recipient input {
  border: 0.5px solid $gray;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

#transaction-memo {
  border: 0.5px solid $gray;
  border-radius: 3px;
  width: 100%;
  height: 100px;
  padding: 5px;
}

.memo-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amount-to-pay {
  display: flex;
  padding-right: 10px;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.amount-to-pay input {
  border: 0.5px solid $gray;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.memo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-transaction {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-transaction:hover {
  cursor: pointer;
}

.select-visibility {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 100%;
  // border: 1px solid black;
  margin: 5px;
  height: 30px;

}

.select-visibility select {
  width: 150px;
}

.dollar {
  font-size: 20px;
  margin: 3px;
}
