

.transaction-search-result:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}

.transaction-search {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .5s;
  height: 40px;
  font-size: 18px;
  border: 1px solid #ddd;
  background-color: #FAFAFA;
}

.transaction-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-search-container {
  width: 70%;
  display: flex;
  align-items: center;
}

.transaction-search:focus {
  border-color: #ddd;
  background-color: white;
}
