/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 */


 // CSS Reset
 @import "base/reset.scss";

 // Core
 @import "base/colors.scss";
 @import "base/fonts.scss";
 @import "base/layout.scss";

 // Components
 @import "components/*";

 @import "font-awesome";

// .main {
//   height: 100vh;
//   /*border: 1px solid black;*/
// }

body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: #262626;
  font-family: $noto-sans;
  font-weight: 1000;
  // color: #3D95CE;
}


button:hover {
  cursor: pointer;
}
